.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown button */
.dropbtn {
    background-color: #524949;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #86a2a2;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #524949;
}

.login-button {
    float: right;
    padding: 12px;
}

.login-button a {
    background-color: #abaf85;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.login-button a:hover {
    background-color: #5b6255;
}

.logout-button {
    float: right;
    padding: 12px;
}

.logout-button a {
    background-color: #d06a6a;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
}

.logout-button a:hover {
    background-color: #7e3b3b;
}