body {
    background-color: #f5f5f5;
    color: #333;
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
    color: #524949;
}

.merror {
    text-align: center;
    color: #e12d2d;
}

form {
    margin: 0 auto;
    max-width: 500px;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

label {
    display: block;
    margin-bottom: 5px;
    color: #524949;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a39999;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #a39999;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

select {
    width: 100%;
    padding: 10px;
    border: 2px solid #a39999;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

option {
    width: 100%;
    padding: 10px;
    border: 2px solid #a39999;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
}

input[type="submit"] {
    background-color: #524949;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #7d6b6b;
}