body
{
   background-color: #FFFFFF;
   color: #000000;
   line-height: 1.1875;
   margin: 0;
   padding: 0;
}
h1, .h1
{
   font-family: Arial;
   font-weight: bold;
   font-size: 32px;
   text-decoration: none;
   color: #000000;
   --color: #000000;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   display: inline-block;
}
h2, .h2
{
   font-family: Arial;
   font-weight: bold;
   font-size: 27px;
   text-decoration: none;
   color: #AA00BB;
   --color: #AA00BB;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   --color: #000000;
   display: inline-block;
}
h5, .h5
{
   font-family: Arial;
   font-weight: bold;
   font-size: 20px;
   text-decoration: none;
   color: #AA00BB;
   --color: #AA00BB;
   background-color: transparent;
   margin: 0 0 0 0;
   padding: 0 0 0 0;
   --color: #000000;
   display: inline-block;
}
.PageHeader
{
   background-color: transparent;
   background-image: url('../images/PageHeader_bkgrnd.png');
   background-repeat: no-repeat;
   background-position: left top;
   background-size: 100% 100%;
   border-radius: 0px;
   box-sizing: border-box;
}
.PageHeader_Container
{
   width:800px;
   position:relative;
   margin-left:auto;
   margin-right:0;
   text-align:left;
}
#logbtn
{
   background-color: #20B2AA;
   background-image: none;
   border: 1px solid #708090;
   border-radius: 10px;
   color: #FFFFFF;
   font-family: Arial;
   font-weight: normal;
   font-size: 26px;
   font-style: normal;
   text-align: center;
   text-decoration: none;
   width: 141px;
   height: 40px;
   padding: 0;
}
#wb_Heading
{
   position:relative;
   left:0px;
   top:80px;
   width:800px;
   height:43px;
   z-index:1;
   background-color: transparent;
   background-image: none;
   border: 0px solid #000000;
   border-radius: 0px;
   margin: 0;
   padding: 0;
   text-align: center;
}
#Heading
{
   color: #8B0000;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 24px;
   margin: 0;
   text-align: center;
}
#Heading2
{
   color: #0000FF;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 21px;
   margin: 0;
   text-align: left;
}
#Heading2 a
{
   color: inherit;
   text-decoration: none;
}
#Line
{
   position:relative;
   left:4px;
   top:73px;
   width:800px;
   z-index:2;
   border-color: #000000;
   border-style: solid;
   border-bottom-width: 1px;
   border-top: 0;
   border-left: 0;
   border-right: 0;
   height: 0 !important;
   line-height: 0 !important;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar1 ul.navbar li
{
   height: 29px;
   width: 140px;
   margin: 0 0 12px 0;
   vertical-align: bottom;
}
#NavigationBar1 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar1 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar1 ul.navbar li span
{
   display: block;
   height: 29px;
   width: 140px;
   position: absolute;
   z-index: 2;
}
#NavigationBar1 a .hover
{
   visibility: hidden;
}
#NavigationBar1 a:hover .hover
{
   visibility: visible;
}
#NavigationBar1 a:hover span
{
   visibility: hidden;
}
#NavigationBar2 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar2 ul.navbar li
{
   height: 29px;
   width: 140px;
   margin: 0 0 12px 0;
   vertical-align: bottom;
}
#NavigationBar2 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar2 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar2 ul.navbar li span
{
   display: block;
   height: 29px;
   width: 140px;
   position: absolute;
   z-index: 2;
}
#NavigationBar2 a .hover
{
   visibility: hidden;
}
#NavigationBar2 a:hover .hover
{
   visibility: visible;
}
#NavigationBar2 a:hover span
{
   visibility: hidden;
}
#NavigationBar3 ul.navbar
{
   list-style: none;
   margin: 0;
   padding: 0;
}
#NavigationBar3 ul.navbar li
{
   height: 29px;
   width: 140px;
   margin: 0 0 12px 0;
   vertical-align: bottom;
}
#NavigationBar3 ul.navbar li a
{
   display: block;
   position: relative;
}
#NavigationBar3 ul.navbar li a img
{
   position: absolute;
   left: 0;
   z-index: 1;
   border-width: 0;
}
#NavigationBar3 ul.navbar li span
{
   display: block;
   height: 29px;
   width: 140px;
   position: absolute;
   z-index: 2;
}
#NavigationBar3 a .hover
{
   visibility: hidden;
}
#NavigationBar3 a:hover .hover
{
   visibility: visible;
}
#NavigationBar3 a:hover span
{
   visibility: hidden;
}
#wb_Form
{
   background-color: #FBFBFB;
   background-image: none;
   border: 0px solid #CCCCCC;
   border-radius: 0px;
}
.Label
{
   border: 0px solid #CCCCCC;
   border-radius: 4px;
   background-color: transparent;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   margin: 0;
   text-align: left;
   vertical-align: top;
   padding: 4px 4px 4px 4px;
}
.Label:focus
{
   outline: 0;
}
.Editbox
{
   border: 1px solid #CCCCCC;
   border-radius: 4px;
   background-color: #FFFFFF;
   background-image: none;
   color: #000000;
   font-family: Arial;
   font-weight: normal;
   font-style: normal;
   font-size: 13px;
   line-height: 16px;
   margin: 0;
   text-align: left;
   padding: 4px 4px 4px 4px;
}
.Editbox:focus
{
   border-color: #66AFE9;
   box-shadow: inset 0px 1px 1px rgba(0,0,0,0.075), 0px 0px 8px rgba(102,175,233,0.60);
   outline: 0;
}
.Button
{
   border: 4px solid #32CD32;
   border-radius: 8px;
   background-color: #00BFFF;
   background-image: none;
   color: #FFFF00;
   cursor: default;
   font-family: Arial;
   font-weight: bold;
   font-style: normal;
   font-size: 19px;
   padding: 1px 6px 1px 6px;
   text-align: center;
   -webkit-appearance: none;
   margin: 0;
}
}
.Button:focus
{
   outline: 0;
}
.Table
{
   border: 2px solid #000000;
   border-radius: 0px;
   background-image: linear-gradient(to top, #FFFF66 0%, #996633 100%);
   border-collapse: collapse;
   border-spacing: 3px;
   margin: 0;
}
.Table td
{
   padding: 3px 3px 3px 3px;
}
.Table td div
{
   white-space: nowrap;
}
.Table p, .Table ul
{
   margin: 0;
   padding: 0;
   font-size:13px;
   line-height:16px;
}
.Table span
{
   font-size:19px;
   line-height:21px;
   font-weight:bold;
}
.celltd
{
   background-color: transparent;
   background-image: none;
   border: 3px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 92px;
   height: 60px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
.celltr
{
   background-color: transparent;
   background-image: none;
   border: 3px #C0C0C0 solid;
   text-align: center;
   vertical-align: middle;
   width: 197px;
   height: 60px;
   color: #000000;
   font-family: Arial;
   font-size: 19px;
   line-height: 21px;
}
.Table tr:hover
{
   background-color: #B0E0E6;
}