body {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}

header {
    background-color: #2b2b2b;
    color: white;
    width: 25%;
    min-height: 100vh;
    position: fixed;
}

nav {
    margin-left: 50px;
    margin-right: 50px;
}

main {
    background-color: #7f7f7f;
    color: white;
    position: absolute;
    width: 75%;
    min-height: 100vh;
    margin-left: 25%;
}

section {
    margin: 50px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: white;
}