table {
    border-collapse: collapse;
    border: 2px solid rgb(200, 200, 200);
}

th, td {
    border: 1px solid rgb(190, 190, 190);
    padding: 5px 10px;
}

th {
    background-color: #3f87a6;
    color: #fff;
}

td {
    background-color: #e4f0f5;
}
