.table_login {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 25%;
    color: #000000;
    font-size: 40px;
    text-align: left;
    border-collapse: collapse;
    background: #ffffff;
    margin: auto;
}
.table_login th {
    color: #000000;
    padding: 12px 17px;
    font-size: 14px;
}
.table_login td {
    color: #000000;
    padding: 7px 17px;
    font-size: 14px;
}
.table_login tr:last-child td {
    border-bottom: none;
}
.table_login td:last-child {
    border-right: none;
}
.table_login tr:hover td {
    text-decoration: underline;
}