html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/*main {*/
/*    flex: 1;*/
/*}*/

footer {
    margin-top: auto;
}

.table_dark {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    width: 70%;
    color: #7C5FAB;
    font-size: 40px;
    text-align: center;
    border-collapse: collapse;
    background: #FEF4AB;
    margin: auto;
}
.table_dark th {
    color: #7C5FAB;
    border-bottom: 1px solid #98E2CA;
    padding: 12px 17px;
    font-size: 14px;
}
.table_dark td {
    color: #7C5FAB;
    border-bottom: 1px solid #98E2CA;
    border-right: 1px solid #98E2CA;
    padding: 7px 17px;
    font-size: 14px;
}
.table_dark tr:last-child td {
    border-bottom: none;
}
.table_dark td:last-child {
    border-right: none;
}
.table_dark tr:hover td {
    text-decoration: underline;
}
.button {
    background-color: #bb0f14;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}
